# boot/grub/grub.cfg
set timeout=3
set default=0

insmod efi_gop
insmod efi_uga
insmod font
if loadfont ${prefix}/fonts/unicode.pf2
then
    insmod gfxterm
    set gfxmode=1024x768x32
    set gfxpayload=keep
    terminal_output gfxterm
fi

menuentry "Singularity OS (Enterprise Mode)" {
    echo "Loading Singularity Kernel..."
    multiboot2 /boot/singularity_kernel.bin lockdown=1 timezone=3 fast_boot=1 log_level=0
    module2 /boot/rootfs.tar "rootfs"
    boot
}

menuentry "Singularity OS (Safe Mode & Recovery)" {
    echo "Loading Singularity Diagnostic Mode..."
    multiboot2 /boot/singularity_kernel.bin lockdown=0 timezone=3 fast_boot=0 log_level=3 safe_mode=1
    module2 /boot/rootfs.tar "rootfs"
    boot
}